/* Importar Bootstrap */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

/* Personalizar el tamaño de fuente */
body {
  font-size: 14px; /* Cambia el tamaño de fuente del cuerpo del documento */
  width: 400px; /* Ajusta el ancho según lo necesario */
  height: 500px; /* Ajusta la altura según lo necesario */  
  
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em; /* Cambia el tamaño de fuente de los encabezados */
}

p {
  font-size: 0.875em; /* Cambia el tamaño de fuente de los párrafos */
}

.container {
  font-size: 0.875em; /* Cambia el tamaño de fuente de los elementos dentro del contenedor */
  margin: 2rem;
}

